h1 {
    user-select: none;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

h1:hover {
    transform: scale(1.1);
}

h3 {
    user-select: none;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

h3:hover {
    transform: scale(1.1);
}