.icon-container i {
  display: inline-block;
  font-size: 1.5em; /* or any other value you prefer */
  margin-right: 5px;
}

.box-container {
  display: flex;
  justify-content: space-between;
}
.box {
  background-color: rgb(255, 255, 255);
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.box1 {
  animation-name: slide-in-left;
  animation-delay: 0s;
}
.box2 {
  animation-name: slide-in-right;
  animation-delay: 0s;
}
@keyframes slide-in-left {
  0% { transform: translateX(-200%); }
  100% { transform: translateX(0); }
}
@keyframes slide-in-right {
  0% { transform: translateX(200%); }
  100% { transform: translateX(0); }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.aboutcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  height: 180px;
  margin: auto;
  text-align: center;
  color: white;
}

.title {
  color: grey;
  font-size: 18px;
}